h1{
font-family: hero-new, sans-serif;
font-weight: 900;
font-style: normal;
font-size: 7em;

}
body{
    color: peru;
    background-color: beige;
    position: absolute;
    top: 2em;
    left: 30em;
}

.grid {
    color:black;
    height: 40px;
    width: 50px;
    display: flex;
}