body {
    background-color: hotpink;
    background: radial-gradient(circle, pink,hotpink,lightblue,green);
    height: 100%;
    margin: 0 auto;
    max-width: 800px;
    display: block;
    font-family: sans-serif;
}
h1{
    font-size: 50px;
    font-family: fatfrank, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title{
    text-decoration-line: underline;
    font-size: 20px;
}
.link{
    font-size: 50px;
    text-decoration: none;
    text-decoration-line: none;
}
.intro{
    font-style: italic;
}
