body {
    
    background: radial-gradient(circle, deeppink, orange, yellow,lightgreen,lightblue);
    height: 100%;
    margin: 0 auto;
    max-width: 800px;
    display: block;
    font-family: sans-serif;
}
h1{
    font-size: 40px;
}

.title{
    text-decoration-line: underline;
    font-size: 20px;
}
.link{
    font-size: 50px;
    text-decoration: none;
    text-decoration-line: none;
}
.intro{
    font-style: italic;