body {
    
    background: beige;
    height: 100%;
    margin: 0 auto;
    max-width: 800px;
    display: block;
    font-family: degular, sans-serif;
    font-weight: 200;
    font-size:20px

}
h1{
font-family: mono45-headline, monospace;

font-weight: 500;
font-size: 100px;
letter-spacing: -1px;
font-style: normal;
color: forestgreen;
}

p{
    font-family: mono45-headline, monospace;
    font-weight: 500;
    font-size: 40px;
    text-decoration: none;
    color: black;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: darkred;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: crimson;
  background-color: transparent;
  text-decoration: underline;
}
.grow { 
transition: all 1s ease-in-out; 
}

.grow:hover { 
transform: scale(1.5); 
}

