body {
    
    background: beige;
    height: 100%;
    margin: 0 auto;
    max-width: 800px;
    display: block;
    font-family: degular, sans-serif;
    font-weight: 200;
    font-size:20px;
    text-align: right;

}
h1{
font-family: mono45-headline, monospace;

font-weight: 500;
font-size: 50px;
letter-spacing: -1px;
font-style: normal;
   text-align: right;
}

.title{
    text-decoration-line: underline;
    font-size: 20px;
}
.link{
    font-size: 40px;
    text-decoration: none;
    text-decoration-line: none;
       text-align: right;
}
.intro{
    font-style: italic;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 50px;
}

li {
  float: left;
}

li a {
  display: block;
  color: green;
  text-align: center;
  padding: 30px 25px;
  text-decoration: none;
}

li a:hover {
  background-color: darkred;
}