body{
	
    text-align: right;
    background-color: hotpink;
    background: radial-gradient(circle, green,skyblue,yellow,gold);
    height: 100%;
    margin: 0 auto;
    max-width: 800px;
    display: block;
    font-family: degular, sans-serif;
    font-weight: 200;
    font-style: normal;
}

h1{
    font-size: 40px;
    
}

.title{
    text-decoration-line: underline;
    font-size: 20px;
}
.link{
    font-size: 50px;
    text-decoration: none;
    text-decoration-line: none;
    text-align: left;
}
.intro{
    font-style: italic;
}
