
body {
  position: relative;
  background-color: mintcream;
  text-decoration: none;
}

#imagegrid{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  background-color:mintcream;

}
#imagecontainer{
  width: 30vw;
  height: 30vw;
  margin: 1.5vw;
 
  background-color: mintcream;
  text-decoration: none;

}

img {
 width: 30vw;
  height: 30vw;


}
img:hover {
  opacity: 28%;
}

p{
  font-size: 20px;
  font-family: bebas neue;
  color: pink;
  text-decoration: none;
}
