body {
	 background-color:  #EAD8BD
}

h1 {
 font-family: BEBAS NEUE; cursive
 font-size: 100px;
 left: 700px;
 width: 100px;
 position: absolute;
	
}

p{
	width: 500px;
	position: absolute;
	left: 500px;
	top: 200px;
	font-family: arial;
	font-size: 17px;
}
BUTTON{
    font-weight: 400px;
font-size: 26px;
padding: 0px 50px 0px 50px;
background-color: #EAD8BD ;
font-family: Bebas Neue, cursive;
}