body{
    background-color:  #EAD8BD;
    margin: 0px;
    padding: 0px;
 ; font-family: Bebas Neue;
}
h1 {
    position: absolute;
width: 501px;
height: 271px;
left: 477px;
top: 232px;

font-family: Shrikhand;
font-style: italic;
font-weight: normal;
font-size: 144px;
line-height: 210px;
text-align: center;

color: rgba(189, 8, 8, 0.8);
}
button{
font-weight: 400px;
font-size: 26px;
padding: 0px 50px 0px 50px;
background-color: #EAD8BD ;
font-family: Bebas Neue, cursive;
}
.buttonTWO{
font-weight: 400px;
font-size: 26px;
padding: 0px 50px 0px 50px;
background-color:#EAD8BD ;
} 

#flexbox {
    display: flex ;
    flex-wrap: flex;
    justify-content: space-between;
}
#menu {
    width: 100vw;
    height: 10vh;
    background-color: ;
}
#body {
    width: 100vw;
    height: 90vh;
    background-color: ;

}
#triangle{

      width: 0vw;
      height: 0vh;
      border-left: 35vh solid transparent;
      border-right: 35vh solid transparent;
      border-top: 70vw solid beige;
      margin: 0 auto 0 auto;
      stroke: 5px;
    }

@media (max-width: 650px) {
  body {
    background-color: black;
    color:  white;
  }
}
H2{
    position: absolute;
width: 465px;
height: 43px;
left: 495px;
top: 490px;

font-family: Bebas Neue;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 43px;

color: rgba(189, 8, 8, 0.92);

}


