body {
    
    background: #CEF4FF;
    height: 100%;
    margin: 0 auto;
    max-width: 800px;
    display: block;
     font-family: europa, sans-serif;

font-weight: 400;
padding: 20px;
font-style: normal;
font-size: 20px;
}
    

h1{
font-family: mono45-headline, monospace;

font-weight: 500;
font-size: 60px;
letter-spacing: -1px;
font-style: normal;
color: indianred;
}

.title{
    text-decoration-line: underline;
    font-size: 20px;
}
.link{
    font-size: 40px;
    text-decoration: none;
    text-decoration-line: none;

}

.intro{
    font-style: italic;
}

a:hover {
  color: indianred;
  background-color: transparent;
  
}
.expand{
font-family: mono45-headline, monospace;

font-weight: 500;
font-size: 40px;

font-style: italic;
color: crimson;
}
.author{
    font-family: sculpin, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 50px;
}

li {
  float: left;
}

li a {
  display: block;
  color: green;
  text-align: center;
  padding: 30px 25px;
  text-decoration: none;
}


@media only screen and (max-width: 600px) {
  body {
    background: #F2E9BD;
    height: 100%;
    margin: 0 auto;
    max-width: 800px;
    display: block;
    font-family: europa, sans-serif;

font-weight: 400;

font-style: normal;
font-size: 10px;

  }
  h1{font-family: mono45-headline, monospace;

font-weight: 500;
font-size: 30px;
letter-spacing: -1px;
font-style: normal;
color: indianred;

  }
  ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 25px;
}
.author{
    font-size: 15px;
}
.expand{
    font-size: 20px;
}
}